.purple_bg {
    position: absolute;
    top: 32px;
    overflow: visible;
}

.avatar {
    width: 80px;
    height: 80px;
    background: var(--color-purple-975);
    border: 3px solid var(--color-main-accent);
    border-radius: 100%;
    margin-bottom: 4px;
}