.wrapper {
    width: 100%;
    padding: 28px 0 20px;
    background-image: url('/backgrounds/dots.svg');
    overflow: scroll;
    justify-content: flex-start;
}

.wrapper > div {
    padding: 0 24px;
}

.separator {
    margin-top: 4px;
    width: 60px;
    min-width: 60px;
    height: 2px;
    background: var(--color-grey-700);
    border-radius: 2px;
}

.highlighted {
    background: linear-gradient(to right, #30293D 0%, #671D80 100%);
}