.half_opacity {
    opacity: 0.5;
}

.icon {
    width: 48px;
    height: 48px;
}

.progress_wrapper {
    position: relative;
    width: 100%;
    height: 8px;
    border-radius: 10px;
    background: var(--color-grey-700);
}

.progress_wrapper > div {
    position: absolute;
    height: 100%;
    left: 0;
    border-radius: 10px;
    background: var(--color-main-accent);
}