.wrapper {
    position: relative;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-end;
    padding: 44px 0;
}

.illustration_wrapper {
    flex-grow: 1;
}

.illustration {
    position: relative;
    flex-direction: column;
}

.coins {
    position: absolute;
    width: 300px;
    top: -70px;
    z-index: -1;
}

.bg_a, .bg_b {
    overflow: visible;
}

.bg_a {
    top: -64px;
}

.bg_b {
    top: unset;
    bottom: -128px;
}

.text_wrapper {
    position: absolute;
    width: 100%;
    padding: 16px;
    top: 0;
    flex-direction: column;
}

.text_wrapper div {
    height: 22.4px;
}

.text_wrapper div:last-child p {
    display: block;
    overflow: hidden;
    border-right: 1px solid var(--color-main-bg);
    white-space: nowrap;
    animation: blink-caret 3.5s ease
}

.text_wrapper div:nth-child(8) p {
    animation: hide-caret 0.5s ease forwards
}

@keyframes hide-caret {
    90% { border-color: var(--color-main-bg); }
    to { border-color: transparent; }
}

.frogspeak {
    width: 160px;
    height: 160px;
}