.path_right, .path_left, .path_top, .path_center_left, .path_center_right {
    position: absolute;
    width: 98px;
    height: 152px;
    top: 26px;
    z-index: -2;
}

.path_left, .path_center_left, .path_center_right, .path_right {
    width: calc(50% + 6px);
}

.path_right, .path_center_right {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.path_left {
    left: 24px;
}

.path_right {
    right: 24px;
}

.path_center_left {
    left: calc(50% - 2px)
}

.path_center_right {
    right: calc(50% - 2px);
}