.wrapper {
    position: relative;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-end;
    animation: 0.5s appear ease;
}

@keyframes appear {
    from { opacity: 0; }
    to { opacity: 1; }
}

.confetti_bg {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
}