.illustration {
    position: relative;
    overflow: hidden;
    width: 100%;
    flex-direction: column;
    gap: 40px;
    padding: 36px 50px 16px;
    border-radius: 20px;
    border: 1px solid var(--color-grey-700);
    background-image: url('/backgrounds/triad_space.svg');
    background-position: center 10%;
    flex-grow: 1;
    height: 100%;
}

.illustration > div {
    position: relative;
}

.path_left {
    position: absolute;
    width: calc(50% + 6px);
    height: 152px;
    top: 26px;
    left: 24px;
    z-index: -2;
}

.illustration > div:last-child .path_left {
    left: calc(50% - 12px);
}

.illustration > div > div:first-child {
    z-index: 1;
}

.icon_wrapper {
    position: relative;
    width: 54px;
    height: 60px;
}

.border {
    position: absolute;
    width: 54px;
    height: 60px;
    fill: url(#color-metal-gold-2);
    z-index: -1;
}

.item_background {
    position: absolute;
    width: 43.784px;
    height: 48.74px;
    fill: url(#color-metal-gold-2);
    z-index: -1;
    filter: drop-shadow(0px 0px 32px rgba(168, 120, 27, 0.60));
}

.title {
    max-width: 100px;
}

.illustration > div:nth-child(3) .border {
    fill: var(--color-purple-925);
}

.illustration > div:nth-child(3) .item_background {
    fill: #412251;
    filter: drop-shadow(0px 0px 32px rgba(96, 19, 136, 0.60));
}

.book {
    position: absolute;
    top: 20%;
    right: 10%;
}