.hero {
    position: absolute;
    width: 110px;
    height: 110px;
    bottom: 40px;
}

.item {
    position: absolute;
    opacity: 0;
    animation: 500ms item-opacity ease, 500ms item-scale ease;
}

.item:nth-child(2) {
    animation-delay: 500ms;
}
.item:nth-child(3) {
    animation-delay: 1000ms;
}

@keyframes item-opacity {
    10%, 60% {
        opacity: 1;
    }
}
@keyframes item-scale {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}