.wrapper {
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-end;
    padding: 24px 0;
}

.content_wrapper {
    width: 100%;
    flex-grow: 1;
}

.content {
    width: 100%;
    position: relative;
    flex-direction: column;
    gap: 20px;
}

.confetti_bg {
    width: 80%;
    position: absolute;
    top: 0;
    z-index: -2;
}

.confetti_bg canvas {
    min-height: 300px;
}

.background {
    overflow: visible;
    top: 16px;
}

.reward > p {
    opacity: 0;
    animation: reward-title-appear 1s ease-in 1s forwards;
}

@keyframes reward-title-appear {
    to { opacity: 1; }
}

.reward > div {
    opacity: 0;
    animation: reward-appear 0.5s ease-out 2s forwards;
}

@keyframes reward-appear {
    from {
        transform: translateY(25%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}