.task {
    z-index: 1;
}

.icon_wrapper {
    position: relative;
    width: 54px;
    min-width: 54px;
    height: 60px;
}

.border {
    position: absolute;
    width: 54px;
    height: 60px;
    fill: var(--color-quests-colors-blue-1);
    z-index: -1;
}

.locked .border {
    fill: var(--color-quests-colors-blue-1-dark);
}

.background {
    position: absolute;
    width: 43.784px;
    height: 48.74px;
    fill: var(--color-quests-colors-blue-2);
    filter: drop-shadow(0px 0px 32px rgba(14, 39, 106, 0.60));
    z-index: -1;
}

.locked .background {
    fill: var(--color-quests-colors-blue-2-dark);
}

.locked .icon_wrapper svg:first-child path {
    stroke: var(--color-grey-500);
}

.status_icon {
    position: absolute;
    top: -6px;
}

.hidden .border {
    fill: var(--color-grey-850);
}

.hidden .background {
    fill: var(--color-grey-850);
    filter: none;
}