.table_title {
    width: 100%;
    justify-content: space-between;
    padding-right: 12px;
}

.table {
    width: 100%;
    background: var(--color-grey-900);
    border-radius: 20px;
    padding: 12px;
    gap: 20px;
    flex-direction: column;
}

.loader {
    gap: 8px;
}

.loader > div {
    width: 8px;
    height: 8px;
    background: var(--color-grey-900);
    border-radius: 8px;
    margin-bottom: 12px;
    animation: 3s load infinite;
}

.loader > div:nth-child(2) {
    animation-delay: 1s;
}

.loader > div:nth-child(3) {
    animation-delay: 2s;
}

@keyframes load {
    25% {
        transform: scale(1.2);
        background: var(--color-grey-700);
    }
    50% {
        transform: scale(1);
        background: var(--color-grey-900);
    }
}