.wrapper {
    position: relative;
    width: 100%;
    flex-grow: 1;
}

.purple_bg {
    top: 0;
    overflow: visible;
}

.illustration {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 270px;
    height: 100%;
    border-radius: 20px;
    border: 1px solid var(--color-grey-700);
    background-image: url('/backgrounds/dots.svg');
    flex-grow: 1;
}

.path_left, .path_right {
    position: absolute;
    width: 98px;
    height: 152px;
    top: 26px;
    z-index: -2;
}

.path_left {
    left: 48px;
}

.path_right {
    right: 48px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.background {
    position: absolute;
    top: -32px;
}

.hero_wrapper {
    flex-direction: column;
}

.hero {
    width: 60px;
    height: 60px;
}

.hero_wrapper {
    position: absolute;
    left: 22px;
    bottom: 10%;
    animation: hero-move 10s ease infinite;
}

.hero {
    width: 60px;
    height: 60px;
}

@keyframes hero-move {
    50% {
        transform: translateX(160px);
    }
}

.game_token {
    position: absolute;
    top: -28px;
    right: 50%;
    animation: 4s token-fall ease-in-out infinite;
}

.game_token:nth-child(6) {
    right: 10%;
}

.game_token:nth-child(2) {
    right: 55%;
    animation-delay: 1s;
}

.game_token:nth-child(3) {
    right: 20%;
    animation-delay: 2s;
}

.game_token:nth-child(4) {
    right: 30%;
    animation-delay: 3s;
}

.game_token:nth-child(5) {
    right: 40%;
    animation-delay: 4s;
}

@keyframes token-fall {
    from {
        top: -28px;
    }
    to {
        top: 100%
    }
}