.hero {
    width: 60px;
    height: 60px;
}

.circle {
    position: absolute;
    width: 128px;
    height: 128px;
    border-radius: 100%;
    border: 7px solid var(--color-grey-700);
    box-sizing: border-box;
}

.circle svg {
    position: absolute;
    width: calc(100% + 14px);
    height: calc(100% + 14px);
    left: -7px;
    top: -7px;
    animation: 3s rotate infinite ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}