.illustration {
    position: relative;
    overflow: hidden;
    width: 100%;
    flex-direction: column;
    gap: 46px;
    padding: 36px 28px 24px;
    border-radius: 20px;
    border: 1px solid var(--color-grey-700);
    flex-grow: 1;
    height: 100%;
    background-image: url('/backgrounds/tiles_dark.svg');
    background-position: center center;
}

.illustration > div {
    position: relative;
}

.path_left, .path_right {
    position: absolute;
    width: 98px;
    height: 152px;
    top: 26px;
    z-index: -2;
    width: 50%;
}

.path_left {
    left: calc(50% - 12px);
}

.path_right {
    right: calc(50% - 12px);
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.icon_wrapper {
    position: relative;
    width: 54px;
    height: 60px;
    z-index: 1;
}

.border {
    position: absolute;
    width: 54px;
    height: 60px;
    fill: var(--color-grey-700);
    z-index: -1;
}

.book {
    position: absolute;
    left: 10%;
    top: 20%;
}

.background {
    position: absolute;
    width: 43.784px;
    height: 48.74px;
    fill: var(--color-grey-800);
    z-index: -1;
}

.title {
    max-width: 100px;
}

.completed {
    position: absolute;
    top: -8px;
    z-index: 2;
}

.illustration > div:last-child > div:first-child .border {
    fill: var(--color-purple-925);
}
.illustration > div:last-child > div:first-child .background {
    fill: #412251;
    filter: drop-shadow(0px 0px 32px rgba(96, 19, 136, 0.60));
}

.illustration > div:last-child > div:last-child .border {
    fill: #28448A;
}
.illustration > div:last-child > div:last-child .background {
    fill: #0E276A;
    filter: drop-shadow(0px 0px 32px rgba(14, 39, 106, 0.60));
}