.wrapper {
    position: relative;
    width: 100%;
    flex-direction: column;
    gap: 24px;
    padding: 0 0 24px 0;
    flex-grow: 1;
    justify-content: flex-end;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: var(--color-purple-950);
}

.active_dot {
    position: relative;
    width: 20px;
    height: 8px;
    border-radius: 8px;
    background: var(--color-purple-950);
}

.active_dot > div {
    position: absolute;
    left: 0;
    width: 10px;
    height: 8px;
    border-radius: 8px;
    background: var(--color-main-accent);
    animation: dot_move 4s ease-in-out forwards;
}

@keyframes dot_move {
    50% {
        width: 15px;
    }
    to {
        left: 10px;
    }
}