.alert {
    position: relative;
    width: 100%;
    padding: 16px;
    gap: 12px;
    border-radius: 12px;
    border: 1px solid var(--color-grey-700);
    background: var(--color-grey-800);
    justify-content: flex-start;
    animation: appear 0.8s forwards;
}

@keyframes appear {
    from {
        transform: translateY(-200%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.disappear {
    animation: disappear 0.5s forwards;
}

@keyframes disappear {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-200%);
        opacity: 0;
    }
}

.confetti {
    overflow: visible;
    position: absolute;
    width: calc(100% + 32px);
    top: -64px;
    left: -16px;
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    z-index: -1;
}