.alert {
    width: 100%;
    padding: 16px;
    gap: 12px;
    border-radius: 12px;
    border: 1px solid var(--color-grey-700);
    background: var(--color-grey-800);
    justify-content: flex-start;
    animation: appear 0.8s forwards;
}

@keyframes appear {
    from {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.disappear {
    animation: disappear 0.5s forwards;
}

@keyframes disappear {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    to {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
        opacity: 0;
    }
}