.icon_wrapper {
    position: relative;
    width: 54px;
    height: 60px;
}

.border {
    position: absolute;
    width: 54px;
    height: 60px;
    fill: var(--color-grey-700);
    z-index: -1;
}

.background {
    position: absolute;
    width: 43.784px;
    height: 48.74px;
    fill: var(--color-grey-800);
    z-index: -1;
}

.title {
    max-width: 100px;
}