.outter_wrapper {
    position: relative;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-end;
    padding: 24px 0;
}

.wrapper {
    width: 100%;
    flex-direction: column;
    gap: 24px;
    flex-grow: 1;
}

.progress_wrapper {
    position: relative;
    width: 238px;
    height: 238px;
}

.circle {
    position: absolute;
    width: 238px;
    height: 238px;
    border-radius: 100%;
    border: 9px solid #151A20;
    box-sizing: border-box;
}

.circle svg {
    position: absolute;
    width: calc(100% + 18px);
    height: calc(100% + 18px);
    left: -9px;
    top: -9px;
}

.circle:nth-child(3) {
    width: 205px;
    height: 205px;
}

.circle:nth-child(4) {
    width: 176px;
    height: 176px;
    border-width: 8px;
}

.circle:nth-child(4) svg {
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    left: -8px;
    top: -8px;
}

.circle:nth-child(5) {
    width: 145px;
    height: 145px;
    border-width: 7px;
}

.circle:nth-child(5) svg {
    width: calc(100% + 14px);
    height: calc(100% + 14px);
    left: -7px;
    top: -7px;
}

.steps {
    padding: 20px;
    flex-direction: column;
    gap: 16px;
    border-radius: 20px;
    background: var(--color-grey-900);
    align-items: flex-start;
}

.step {
    padding: 4px;
    gap: 12px;
}