.quests {
    position: relative;
    width: 100%;
    padding: 60px 50px;
    flex-direction: column;
    gap: 40px;
}

.dots_background_repeat {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: -2;
    overflow: hidden;
}

.dots_background_repeat > div {
    width: 100%;
    flex-direction: column;
}

.quests > div {
    position: relative;
}