.icon {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background: var(--color-grey-700);
    transition: all 0.3s;
}

.dot {
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background: var(--color-grey-500);
}

.progress {
    position: relative;
    width: 100%;
    height: 8px;
    border-radius: 10px;
    background: var(--color-grey-700);
}

.progress > div {
    position: absolute;
    left: 0;
    height: 8px;
    border-radius: 10px;
    background: var(--color-grey-700);
    transition: all 0.3s;
}

.button {
    min-width: 110px;
    width: 110px;
    gap: 4px;
    padding: 0;
    flex-direction: column;
    white-space: nowrap;
}

.button.disabled {
    background-color: var(--color-grey-900);
}

/* Colors */

.level_1 .icon, .level_1 .progress > div {
    background: var(--color-blue-500);
}
.level_1 .icon {
    box-shadow: 0px 0px 32px 0px rgba(14, 56, 165, 0.60);
}

.level_2 .icon, .level_2 .progress > div {
    background: var(--color-green-500);
}
.level_2 .icon {
    box-shadow: 0px 0px 32px 0px rgba(13, 85, 29, 0.60);
}

.level_3 .icon, .level_3 .progress > div {
    background: var(--color-red-500);
}
.level_3 .icon {
    box-shadow: 0px 0px 32px 0px rgba(98, 26, 21, 0.60);
}

.level_4 .icon, .level_4 .progress > div {
    background: var(--color-yellow-400);
}
.level_4 .icon {
    box-shadow: 0px 0px 32px 0px rgba(69, 60, 14, 0.60);
}

.level_5 .icon, .level_5 .progress > div {
    background: #F146C1;
}
.level_5 .icon {
    box-shadow: 0px 0px 32px 0px rgba(95, 13, 102, 0.60);
}

.level_6 .icon, .level_6 .progress > div {
    background: #46F1F1;
}
.level_6 .icon {
    box-shadow: 0px 0px 32px 0px rgba(17, 86, 96, 0.60);
}

.level_7 .icon, .level_7 .progress > div {
    background: #C6DAE3;
}
.level_7 .icon {
    box-shadow: 0px 0px 32px 0px rgba(28, 88, 13, 0.60);
}

.level_8 .icon, .level_8 .progress > div {
    background: #58529C;
}
.level_8 .icon {
    box-shadow: 0px 0px 32px 0px rgba(57, 18, 106, 0.60);
}

.level_9 .icon, .level_9 .progress > div {
    background: linear-gradient(90deg, #74C1E4 0%, #D3E9C7 33.5%, #FF927B 59.37%, #444073 100%);
}
.level_9 .icon {
    box-shadow: 0px 0px 32px 0px rgba(18, 59, 106, 0.60);
}

.level_10 .icon, .level_10 .progress > div {
    background: linear-gradient(90deg, #9F0FB6 0%, #E93767 33.5%, #48D0EE 59.37%, #9C45F3 100%);
}
.level_10 .icon {
    box-shadow: 0px 0px 32px 0px rgba(38, 13, 80, 0.60);
}